* {
    margin: 0;
    padding: 0;
}
body {
    background-color:darkgrey;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
    font-size: 5vmin;
    color: rgb(114, 56, 83);
    background-color:gainsboro;
}
h1 {
    color: rgb(114, 56, 83);
}
#reset-btn {
    padding: 1rem;
    font-size: 1.20rem ;
    background-color: rgb(205, 194, 201);
    color: rgb(57, 14, 62);
    border-radius: 1rem;
    border: none;
}
#msg {
    color:rgb(57, 14, 62);
    font-size: 8vmin;
}
#new-btn {
    padding: 1rem;
    font-size: 1.20rem ;
    background-color: rgb(205, 194, 201);
    color: rgb(57, 14, 62);
    border-radius: 1rem;
    border: none;
}
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide {
    display: none;
}
.colorO {
    color: #d8c4e6;
}
.colorX {
    color: #5f254a;
}



